<?xml version="1.0"?>
<config>
    <modules>
        <Studio45_GoogleTagManager>
            <version>0.1.0</version>
        </Studio45_GoogleTagManager>
    </modules>
    <frontend>
        <routers>
            <googletagmanager>
                <use>standard</use>
                <args>
                    <module>Studio45_GoogleTagManager</module>
                    <frontName>googletagmanager</frontName>
                </args>
            </googletagmanager>
        </routers>
        <layout>
            <updates>
                <googletagmanager>
                    <file>studio45/googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <googletagmanageradmin>
                <use>admin</use>
                <args>
                    <module>Studio45_GoogleTagManager</module>
                    <frontName>googletagmanageradmin</frontName>
                </args>
            </googletagmanageradmin>
        </routers>
    </admin>   
    <global>            
        <models>
            <googletagmanager>
                <class>Studio45_GoogleTagManager_Model</class>                
            </googletagmanager>            
        </models>        
        <blocks>
            <googletagmanager>
                <class>Studio45_GoogleTagManager_Block</class>
            </googletagmanager>             
        </blocks>
        <helpers>
            <googletagmanager>
                <class>Studio45_GoogleTagManager_Helper</class>
            </googletagmanager>
        </helpers>            
    </global>    
</config>